:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsla(240, 1%, 23%, 0.544);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --blue: hsl(228, 45%, 44%);
  --orange: #fc7614;
}
